.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.card {
  margin-top: 1rem;
  min-height: 40rem;
  width: 40rem;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  border-color: #6661F1;
  border-style: solid;
}

.title {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.image {
  width: 10rem;
  height: 10rem;
}

.inputArea {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  align-items: flex-start;
  font-size: 1.4rem;
}

.label {
  color: #777777;
  margin-top: 1rem;
}


.input {
  margin-top: 0.5rem;
  border-color: #777777;
  border-radius: 5px;
  color: #272727;
  height: 3rem;
  padding: 1rem;
  width: 100%;
}

.buttonArea {
  width: 100%;
  display: flex;
  justify-content: center;
}