.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.card {
  margin-top: 8rem;
  min-height: 60rem;
  width: 40rem;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  border-color: #6661F1;
  border-style: solid;
}

.list {
  list-style: none;
}

.desc {
  font-size: 1.4rem;
}

.title {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 7rem;
  font-size: 2rem;
}

.myTypeCard {
  /* margin-top: 8rem; */
  min-height: 60rem;
  width: 40rem;
  padding: 5%;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #ffffff; */
  /* border-radius: 20px;
  border-color: #6661F1;
  border-style: solid; */
}


.downloadCard {
  margin-top: 8rem;
  min-height: 60rem;
  width: 40rem;
  padding: 5%;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  border-color: #6661F1;
  border-style: solid;
}

.shareCard {
  margin-top: 8rem;
  min-height: 20rem;
  width: 40rem;
  padding: 5%;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #ffffff;
  border-radius: 20px;
  border-color: #6661F1;
  border-style: solid; */
}

.shareTitle {
  font-size: 2rem;
  color: #FF6969;
}

.shareButtons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.buttonArea {
  margin-top: 4rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.retakeButton, .saveButton {
  width: 50%;
}

.retakeButton {
  color: #6661F1;
  border-color: #6661F1;
}

.saveButton {
  color: #FF6969;
  border-color: #FF6969;
}

.image {
  width: 20rem;
  height: 20rem;
}


.category {
  color: #FF6969;
}

.note {
  text-align: center;
}

.footer {
  width: 100%;
}

.footerInLine {
  display: none;
}

.footer > p {
  width: 100%;
  text-align: center;
}


@media only screen and (min-width: 768px) {
  .image {
    width: 28rem;
    height: 28rem;
    margin: 0;
  }
  .title {
    font-size: 2.4rem;
  }

  .footer {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .image {
    width: 36rem;
    height: 36rem;
  }
  .title {
    font-size: 3.2rem;
  }
}