.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  width: 100%;
}

.footerInLine {
  display: none;
}

.footer > p {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer {
    display: none;
  }
  
  .footerInLine {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@media only screen and (min-width: 1024px) {

}