.card {
  margin-top: 8rem;
  min-height: 60rem;
  width: 40rem;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  border-color: #6661F1;
  border-style: solid;
}


.questionArea {
  width: 30rem;
}

.questionNo {
  color: #FF6969;
  font-size: 2rem;
}

.question {
  color: #6661F1;
  font-size: 1.8rem;
}

.listArea {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list {
  width: 100%;
  list-style: none;
  padding-left: 0;
}

.listItem {
  min-height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.choiceDesc {
  font-size: 1.4rem;
  width: 90%;
  color: #777777;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 3.2rem;
  font-size: 3rem;
  color: #ffffff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 3.2rem;
  font-size: 3rem;
  color: #ffffff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 40rem;
}

h1{
  text-align: left;
  font-size: 3.2rem;
}
