.card {
  margin-top: 8rem;
  min-height: 56rem;
  width: 40rem;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  border-color: #6661F1;
  border-style: solid;
}


.questionArea {
  width: 100%;
  
}

.questionNo {
  color: #FF6969;
  font-size: 2rem;
}

.question {
  color: #6661F1;
  font-size: 1.8rem;
}


.listArea {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list {
  width: 100%;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.listItem {
  min-height: 6rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.choiceDesc {
  font-size: 1.4rem;
  width: 90%;
  color: #777777;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 3.2rem;
  font-size: 3rem;
  color: #ffffff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 3.2rem;
  font-size: 3rem;
  color: #ffffff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.inputArea {
  margin-top: 2rem;
  /* margin-bottom: 2rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.inputInstruction {
  color: #777777;
}

.input {
  width: 20%;
  padding: 0.4rem;
  height: 3rem;
  border-color: #777777;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.typeInput, .zodiacInput, .bYearInput, .commentInput {
  width: 100%;
  height: 3rem;
  padding: 0.4rem;
  border-color: #777777;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.bYearInput {
  margin-bottom: 2rem;
}



.commentArea, .typeArea, .zodiacArea {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  /* .card {
    padding: 3%;
  } */
}