.card {
  margin-top: 8rem;
  min-height: 20rem;
  min-width: 30rem;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  border-color: #6661F1;
  border-style: solid;
}

.name {
  font-size: 1.8rem;
  color:#6661F1;
}

.comment, .createdAt, .updatedAt {
  font-size: 1.0rem;
  color:#777777;
  margin: 0;
  margin-bottom: 0.2rem;
}

.image {
  width: 8rem;
  height: 8rem;
  /* margin: 1rem; */
}



.subTitle {

}

.imgBtnArea {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listArea {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list {
  list-style: none;
  padding: 0;
}


.note {
  text-align: center;
}


.editButton {
  width: 8rem;
  font-size: 1.2rem;
  height: 4rem;
  color: #FFC83D ;
  border-color: #FFC83D;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  background-color: transparent;
  margin: 0;
}

.deleteButton {
  width: 8rem;
  height: 4rem;
  font-size: 1.2rem;
  color: #FF6969;
  border-color: #FF6969;  
  border-style: solid;
  border-width: 3px;
  background-color: transparent ;
  margin: 0;
}

.editButton:hover {
  color: whitesmoke;
  background-color: #FFC83D;
}

.deleteButton:hover {
  color: whitesmoke;
  background-color: #FF6969;
}