.card {
  margin-top: 8rem;
  min-height: 30rem;
  width: 40rem;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  border-color: #6661F1;
  border-style: solid;
}

.name {
  font-size: 1.8rem;
  color:#6661F1;
}

.comment, .createdAt, .updatedAt {
  font-size: 1.4rem;
  color:#777777;
  margin: 0.4rem;
}

.image {
  width: 10rem;
  height: 10rem;
  margin: 1rem;
}



.subTitle {

}

.imgBtnArea {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listArea {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list {
  list-style: none;
  padding: 1rem;
}

.note {
  text-align: center;
}


.editButton {
  width: 10rem;
  font-size: 1.4rem;
  height: 4rem;
  color: #FFC83D ;
  border-color: #FFC83D;
  text-align: center;
  background-color: transparent;
  margin: 0;
}

.deleteButton {
  width: 10rem;
  height: 4rem;
  font-size: 1.4rem;
  color: #FF6969;
  border-color: #FF6969 ;  
  background-color: transparent ;
  margin: 0;
}

.editButton:hover {
  color: whitesmoke;
  background-color: #FFC83D;
}

.deleteButton:hover {
  color: whitesmoke;
  background-color: #FF6969;
}